body,html
{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: antiquewhite;
}

.home
{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: bisque;
    
}

.about
{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}

.homeContainer
{
    width: 90%;
    height: 80%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
}
.homeImg
{
    width: 50%;
    height: 100%;
   float: left;
}


.homeDesc
{
    width: 50%;
    height: 100%;
    float: left;
font-size:1.5em;    
    
}